@import '../../../../../styles.scss';

header {
  background-color: $primary;
  display: flex;
  padding: 10px 0;
  justify-content: center;
  align-items: center;
  input, button, img {
      height: 40px;
  }
  input {
    width: 70%;
  }
  img {
    padding: 0 20px 0 20px;
  }
  button {
    cursor: pointer;
  }
}
.container-item {
  margin-top: 10px;
  width: 100%;
}

.imgDetailsContainer{
  padding-left: 20px;
}

.descriptionDetailsContainer {
  color: #666;
  font-size: 20px;
  font-weight: 400;
  word-break: break-word;
}

.details {
  background-color: #fff;
  padding: 40px 40px 40px 40px;
  display: grid;
  grid-template-columns: 120px 1fr 100px;
  width: 100%;
  &__text-box {
    padding: 10px;
  }
  &__description {
    padding: 0px 40px 40px 40px;
    border-top: 1px solid rgba(0,0,0,.1);
    color: #666;
    font-size: 20px;
  }
  &__title-description {
    color: rgba(0,0,0,.8);
    font-size: 16px;
    font-weight: 400;
    padding-left: 40px;
  }
  &__text-box {
    flex: auto;
    padding: 0;
    margin-right: 15px;
    margin-bottom: 8px;
    font-size: 22px;
    padding-left: 400px;
  }
  &__button {
    border-color: transparent;
    background-color: #3483fa;
    color: #fff;
    border-color: transparent;
    background-color: #3483fa;
    color: #fff;
    width: 100%;
    height: 48px;
    border-radius: 6px;
  }
  &__content {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
  }
}