<app-header searchType="detailsPage"></app-header>
<ng-container *ngIf="(detalles | async) as obj">
  <div class="details">
    <div class="imgDetailsContainer">
      <img [src]="obj.picture" alt="Imagen Detalles" />
    </div>
    <div class="details__text-box">
      <span>{{obj.item.title}}</span>
      <h1>{{obj.item.price.amount | currency}}</h1>
      <button type="button" class="details__button"><span class="details__content">Comprar
          ahora</span></button>
    </div>
  </div>
  <div class="details__title-description">
    <h2>Descripción</h2>
  </div>
  <div class="details__description">
    <p class="descriptionDetailsContainer">{{obj.description}}</p>
  </div>
</ng-container>