<app-header [searchType]="'detailsPage'" (skeletonEmit)="getSkeletonStatus($event)"></app-header>
<ng-container *ngIf="!isLoading; else skeleton" >
  <div *ngIf="(detalles | async) as obj" class="detailsContent">
    <div class="detailsContent__details">
      <div class="detailsContent__details__imgDetailsContainer">
        <img [src]="obj.picture" alt="Imagen Detalles" />
      </div>
      <div class="detailsContent__details__container">
        <span class="detailsContent__details__container__title">{{obj.item.title}}</span>
        <h1 class="detailsContent__details__price">{{obj.item.price.amount | currency}}</h1>
        <button type="button" class="detailsContent__details__button"><span class="detailsContent__details__content">Comprar
            ahora</span></button>
      </div>
    </div>
    <div class="detailsContent__details__title-description">
      <h2>Descripción</h2>
    </div>
    <div class="detailsContent__details__description">
      <p class="detailsContent__details__descriptionDetailsContainer">{{obj.description}}</p>
    </div>
  </div>
</ng-container>

<ng-template #skeleton>
  <ngx-skeleton height="600px" margin="5px auto" width="calc(100% - 160px)">
  </ngx-skeleton>
</ng-template>
