<ng-container *ngIf="(detalles | async) as obj">
    <pre>{{obj | json}}</pre>
    <div class="list-grid">
        <div>
            <img [src]="obj.picture" alt="Imagen Detalles" />
        </div>
        <div class="list-grid__text-box">
            <span>{{obj.item.title}}</span>
            <h1>{{obj.item.price.amount | currency}}</h1>
        </div>
    </div>
    <div>
        <h2>Descripcion del producto</h2>
    </div>
    <div>
        <p>{{obj.description}}</p>
    </div>
</ng-container>